# Conjunto de Dados
***

<img src="3C.jpg_files/BOAS/3C_s0c0x6232-1600y9192-1200m91.jpg" alt="DOBRA" style="width: 480px;"/>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('imagens.csv')

In [3]:
df.Boa.value_counts()  #787 imagens, por enquanto

0    459
1    328
Name: Boa, dtype: int64

In [4]:
df

                 Caminho                                   Nome  Boa
0     1A.jpg_files/BOAS/  1A_s0c0x10661-1600y12949-1200m126.jpg    1
1     1A.jpg_files/BOAS/    1A_s0c0x10662-1600y9720-1200m95.jpg    1
2     1A.jpg_files/BOAS/  1A_s0c0x10663-1600y11874-1200m117.jpg    1
3     1A.jpg_files/BOAS/    1A_s0c0x10663-1600y5380-1200m47.jpg    1
4     1A.jpg_files/BOAS/    1A_s0c0x10664-1600y7547-1200m71.jpg    1
..                   ...                                    ...  ...
782  4D.jpg_files/RUINS/     4D_s0c0x8610-1600y2309-1200m27.jpg    0
783  4D.jpg_files/RUINS/       4D_s0c0x8615-1600y154-1200m9.jpg    0
784  4D.jpg_files/RUINS/     4D_s0c0x8619-1600y1233-1200m17.jpg    0
785  4D.jpg_files/RUINS/          4D_s0c0x8629-1600y0-275m3.jpg    0
786  4D.jpg_files/RUINS/    4D_s0c0x8634-1600y15237-832m155.jpg    0

[787 rows x 3 columns]

# Objetivo do Trabalho
***

<img src="ARTEFATO.JPG" alt="ARTEFATO" style="width: 480px;"/>

<img src="DOBRA.JPG" alt="DOBRA" style="width: 1000px;"/>

<img src="VASO SANGUÍNEO (COM HEMACIAS DENTRO).JPG" alt="VASOS" style="width: 1000px;"/>

## Exemplos de imagens RUINS
***

<img src="3A.jpg_files/RUINS/3A_s0c0x2499-1600y5131-1200m44.jpg" alt="DOBRA" style="width: 480px;"/>

<img src="4D.jpg_files/RUINS/4D_s0c0x8610-1600y2309-1200m27.jpg	" alt="DOBRA" style="width: 480px;"/>

## Exemplos de imagens BOAS
***

<img src="3B.jpg_files/BOAS/3B_s0c0x3009-1600y11513-1200m110.jpg" alt="DOBRA" style="width: 480px;"/>

<img src="4D.jpg_files/BOAS/4D_s0c0x8609-1600y7693-1200m85.jpg" alt="DOBRA" style="width: 480px;"/>

[Análise Inicial](https://github.com/leorlik/projeto_CiDAMO/blob/master/Histogramas%20%26%20Thresholds.ipynb)
[](https://www.codementor.io/@innat_2k14/image-data-analysis-using-numpy-opencv-part-1-kfadbafx6)